body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  
}


* {
  box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--body_background);
    color: var(--body_color);
    transition: background 3s;
}

.p {
  color: var(--p_color);
}

h2, h3 {
  color: var(--h_color);
}
 

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white; 
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 9%;
  background-color: var(--body_background);
  color: var(--body_color);
  color: var(--p_color);
  transition: background 3s;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: var(--secondary_color); 
}

.header-right {
  display: flex;
  align-items: center;
}

.buy-pass {
  background-color: var(--button_color);
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 0px; 
  transition: background 3s;
  
}

.profile-icon {
  font-size: 18px;
}

.content-wrapper {
  display: flex;
  width: 100%;
  margin-top: 60px;
}



.nav-menu a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10px;
}

.main-content {
  padding: 20px;
  flex-grow: 1;
}

.diet-plans, .traning-plans {
    display: flex;
    justify-content: space-around;
}

.diet-plan, .traning-plan {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%;
    background-color: var(--body_background);
    color: var(--p_color);
    transition: background 3s;
}

.diet-plan h3, .traning-plan h3{
  margin-bottom: 20px;
  transition: background 3s;
}

.diet-plan .calories p, .schedule p .traning-plan h3 {
  margin: 10px 0;
  transition: background 3s;
}

.diet-plan button, .traning-plan button {
  background-color: var(--button_color);
  border-radius: 0px; 
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background 3s;
}

img.img-logo{
  transform: scale(0.8); 
}

