.courses-page {
  padding: 20px;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline: 20px;
  padding: 1rem;
  max-width: fit-content;
}

.courses-page h2 {
  font-size: 2.5em;
  color: white;
  margin-top: 60px;
  margin-left: 40px;
  font-weight: bold;
  
}

/* Kontener */
.courses-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 20px;
  
}

.course-card {
  width: 100%; 
  max-width: 400px; 
  height: auto; 
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgb(238, 108, 48);
  color: white;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.course-card h3 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.course-label {
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.course-card p {
  margin-bottom: 10px;
  line-height: 1.4;
}

/* Cena */
.course-price {
  font-weight: bold;
  color: white;
}

/* Przycisk Wybieram */
.course-button {
  background-color: orange;
  color: #fff;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3px;
  margin: 10px auto;
  max-width: 200px;
}

.course-button:hover {
  background-color: rgba(238, 108, 48, 0.8);
  color: white;
}

/* Sekcja benefitów */
.course-benefits {
  text-align: left;
  margin-top: 10px;
}

.course-benefits ul {
  margin: 8px 0 0 20px;
  padding: 0;
}

.course-benefits li {
  list-style-type: disc;
  margin: 5px 0;
}

/* Link dowiedz się więcej */
.learn-more {
  display: inline-block;
  margin-top: 15px;
  color: orange;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.learn-more:hover {
  color: rgba(238, 108, 48, 0.8);
}

/* Media Queries dla responsywności */
@media (max-width: 768px) {
  .courses-container {
      flex-direction: column;
      align-items: center;
      gap: 15px;
  }

  .course-card {
      width: 90%; /* Karty zajmują 90% szerokości na mniejszych ekranach */
      max-width: 100%; /* Usuwa maksymalną szerokość */
  }

  .course-button {
      width: 100%; /* Przycisk na pełną szerokość */
      max-width: none; /* Usuwa ograniczenie szerokości */
  }
}

@media (max-width: 480px) {
  .course-card {
      width: 100%; /* Karty zajmują 100% szerokości na bardzo małych ekranach */
      padding: 15px; /* Mniejszy padding */
  }

  .course-card h3 {
      font-size: 1.1rem; /* Mniejszy rozmiar czcionki */
  }

  .course-button {
      padding: 10px 15px; /* Mniejszy padding przycisku */
      font-size: 0.9rem; /* Mniejszy rozmiar czcionki */
  }
  .content-wrapper {
    display: flex;
    width: 100%;
    margin-top: 60px;
    flex-wrap: wrap;
  }
}