.diet-plans {
  display: flex;
  justify-content: space-around;
  gap: 1vw;
  float: right;
  margin-left: 30px;
}

@media (max-width: 768px) {
  .diet-plans {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}

.diet-plan {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-shadow: 0 0 10px rgb(238, 108, 48);
  color: white;
  width: 460px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
}

.diet-plan h3 {
  margin-bottom: 20px;
  font-size: 2rem;
  color: white;

}

.traning-plan h3{
  text-align: center;
  
}

.traning-plan {
  margin-bottom: 20px;
  font-size: 2rem;
  color: white;

}

.schedule p {
  margin: 0;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 245px;
}

.diet-plan .calories p {
  margin: 0;
  font-size: 30px;
  display: flex;
  align-items: center;
  gap: 160px;
}

.diet-plan button {
  border-radius: 3px;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Dodane dla efektu hover */
  background-color: orange;
}

.diet-plan button:hover {
  background-color: rgba(238, 108, 48, 0.8);
  color: white;
}

.schedule button {
  border-radius: 3px;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  /* Dodane dla efektu hover */
  background-color: orange;
}

.schedule button:hover {
  background-color: rgba(238, 108, 48, 0.8);
  color: white;
}

.content-wrapper {
  display: flex;
  width: 100%;
  margin-top: 60px;
  flex-wrap: wrap;
}


.dietContainer h2 {
  margin-top: 60px;
  margin-left: 40px;
  text-align: justify;
  font-size: 2.5em;
  color: white;
  font-weight: bold;
}

.dietContainer {
  padding: 20px;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline: 20px;
  padding: 1rem;
  max-width: fit-content;
}