.cardContainer {
  max-width: 400px;
  margin: 10px auto;
  margin-left: auto;
  margin-top: 8px;
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgb(238, 108, 48);
}

.passContainer h2 {
  text-align: justify;
  font-size: 2.5em;
  color: white;
  margin-top: 60px;
  margin-left: 40px;
  font-weight: bold;
}

.passContainer {
  padding: 20px;
  flex-wrap: wrap;
  gap: 2rem;
  margin-inline: 20px;
  padding: 1rem;
  max-width: fit-content;
}

.cardHeader {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgb(238, 108, 48);
  margin: 0;
  padding: 16px;
  font-size: 1.3rem;
  border-bottom: 1px solid #ccc;
  color: white;
}

.cardDates {
  padding: 16px;
}

.cardDates p {
  color: white
}

.benefitsSection {
  padding: 8px 16px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgb(238, 108, 48);
  color: white;
}

.divider {
  margin: 4px 0 0;
  border: none;
  border-top: 1px solid #999;
}

.benefitsPlaceholder {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgb(238, 108, 48);
  color: white;
  height: 50px;
}

.bottomSection {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px rgb(238, 108, 48);
  color: white;
}

/* Dwie kolumny na dole płatność i kody */
.paymentForm,
.promoCodes {
  flex: 1;
  text-align: center;
  padding: 0 16px;

}

.paymentForm {
  border-right: 1px solid #ccc;
}

.changeButton{
  margin-top: 8px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.9rem;
  background-color: orange;
  border-radius: 3px;
}

.addButton {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 0.9rem;
  background-color: orange;
  border-radius: 3px;
}

.changeButton:hover,
.addButton:hover {
  background-color: rgba(238, 108, 48, 0.8);
  color: white;
}

.content-wrapper {
  gap: 50px
}